In [10]:
import pandas as pd
import numpy as np
joinData1=pd.read_csv("./dataset/joindata1.csv")
joinData1

,mata_tin,mata_txpr_sex_cd,mate_mdf_yn,mate_srcs_cntn,mem_rit_cd,rit_end_dt,rit_strt_dt,suta_tin,suta_txpr_sex_cd
0,153601000000,3,Y,대법원가족관계,2,99991231,20190107,153403000000,2
1,154102000000,3,Y,대법원가족관계,1,99991231,20190107,153460000000,1
2,153500000000,3,Y,대법원가족관계,2,99991231,20190107,154202000000,2
3,155000000000,3,Y,대법원가족관계,2,99991231,20190107,154302000000,2
4,153500000000,3,Y,대법원가족관계,2,99991231,20190107,153603000000,2
5,100026000000,3,Y,대법원가족관계,1,99991231,20190107,153103000000,1
6,153500000000,3,Y,대법원가족관계,2,99991231,20190107,154302000000,2
7,153500000000,3,Y,대법원가족관계,2,99991231,20190107,153202000000,2
8,153500000000,3,Y,대법원가족관계,2,99991231,20190107,153302000000,2
9,153500000000,3,Y,대법원가족관계,2,99991231,20190107,154802000000,2

In [8]:
joinData2=pd.read_csv("./dataset/joindata2.csv",encoding="ms949")
joinData2

,mata_tin,mate_srcs_cntn,rit_end_dt,rit_strt_dt,suta_tin,txpr_rlt_cd
0,153101000000,납세자관계,99991231,10101,153403000000,22
1,153101000000,납세자관계,99991231,10101,154201000000,22
2,153101000000,납세자관계,99991231,10101,154601000000,30
3,153101000000,납세자관계,99991231,10101,154702000000,22
4,153101000000,납세자관계,99991231,10101,153403000000,32
5,153101000000,납세자관계,20161113,20160523,153201000000,30
6,153101000000,납세자관계,99991231,10101,153501000000,22
7,153101000000,납세자관계,99991231,10101,153101000000,32
8,153101000000,납세자관계,99991231,10101,153901000000,32
9,153101000000,납세자관계,20180926,20170802,154401000000,30

In [25]:
joinData1["new_sutatin"]=np.where(joinData1["suta_tin"]==joinData2["suta_tin"],joinData1["mata_tin"],0)

In [26]:
joinData1

,mata_tin,mata_txpr_sex_cd,mate_mdf_yn,mate_srcs_cntn,mem_rit_cd,rit_end_dt,rit_strt_dt,suta_tin,suta_txpr_sex_cd,new_sutatin
0,153601000000,3,Y,대법원가족관계,2,99991231,20190107,153403000000,2,153601000000
1,154102000000,3,Y,대법원가족관계,1,99991231,20190107,153460000000,1,0
2,153500000000,3,Y,대법원가족관계,2,99991231,20190107,154202000000,2,0
3,155000000000,3,Y,대법원가족관계,2,99991231,20190107,154302000000,2,0
4,153500000000,3,Y,대법원가족관계,2,99991231,20190107,153603000000,2,0
5,100026000000,3,Y,대법원가족관계,1,99991231,20190107,153103000000,1,0
6,153500000000,3,Y,대법원가족관계,2,99991231,20190107,154302000000,2,0
7,153500000000,3,Y,대법원가족관계,2,99991231,20190107,153202000000,2,0
8,153500000000,3,Y,대법원가족관계,2,99991231,20190107,153302000000,2,0
9,153500000000,3,Y,대법원가족관계,2,99991231,20190107,154802000000,2,0