In [64]:
import pandas as pd

In [65]:
selloutData=pd.read_csv("./dataset/kopo_decision_tree_all_new.csv")

In [66]:
from sklearn.preprocessing import LabelEncoder

In [67]:
le_item = LabelEncoder()

In [68]:
selloutData["LE_ITEM"]=le_item.fit_transform(selloutData.ITEM)

In [69]:
selloutData["LE_ITEM_ORG"]=le_item.inverse_transform(selloutData.LE_ITEM) ## 기존에 있던걸로 돌려~

### 3.파생변수 생성

In [70]:
pg_dict={"PG01":"1","PG02":"2","PG03":"3","PG04":"4","PG05":"5"
        }

In [71]:
selloutData.PRODUCTGROUP.map(pg_dict)

0        1
1        1
2        1
3        1
4        1
5        1
6        1
7        1
8        1
9        1
10       1
11       1
12       1
13       1
14       1
15       1
16       1
17       1
18       1
19       1
20       1
21       1
22       1
23       1
24       1
25       1
26       1
27       1
28       1
29       1
        ..
32385    5
32386    5
32387    5
32388    5
32389    5
32390    5
32391    5
32392    5
32393    5
32394    5
32395    5
32396    5
32397    5
32398    5
32399    5
32400    5
32401    5
32402    5
32403    5
32404    5
32405    5
32406    5
32407    5
32408    5
32409    5
32410    5
32411    5
32412    5
32413    5
32414    5
Name: PRODUCTGROUP, Length: 32415, dtype: object

In [72]:
pd.get_dummies(prefix="PRODUCTGROUP",data = selloutData.PRODUCTGROUP)

,PRODUCTGROUP_PG01,PRODUCTGROUP_PG02,PRODUCTGROUP_PG03,PRODUCTGROUP_PG04,PRODUCTGROUP_PG05
0,1,0,0,0,0
1,1,0,0,0,0
2,1,0,0,0,0
3,1,0,0,0,0
4,1,0,0,0,0
5,1,0,0,0,0
6,1,0,0,0,0
7,1,0,0,0,0
8,1,0,0,0,0
9,1,0,0,0,0
10,1,0,0,0,0
11,1,0,0,0,0
12,1,0,0,0,0
13,1,0,0,0,0
14,1,0,0,0,0
15,1,0,0,0,0
16,1,0,0,0,0
17,1,0,0,0,0
18,1,0,0,0,0
19,1,0,0,0,0
20,1,0,0,0,0
21,1,0,0,0,0
22,1,0,0,0,0
23,1,0,0,0,0
24,1,0,0,0,0
25,1,0,0,0,0
26,1,0,0,0,0
27,1,0,0,0,0
28,1,0,0,0,0
29,1,0,0,0,0
...,...,...,...,...,...
32385,0,0,0,0,1
32386,0,0,0,0,1
32387,0,0,0,0,1
32388,0,0,0,0,1
32389,0,0,0,0,1
32390,0,0,0,0,1
32391,0,0,0,0,1
32392,0,0,0,0,1
32393,0,0,0,0,1
32394,0,0,0,0,1
32395,0,0,0,0,1
32396,0,0,0,0,1
32397,0,0,0,0,1
32398,0,0,0,0,1
32399,0,0,0,0,1
32400,0,0,0,0,1
32401,0,0,0,0,1
32402,0,0,0,0,1
32403,0,0,0,0,1
32404,0,0,0,0,1
32405,0,0,0,0,1
32406,0,0,0,0,1
32407,0,0,0,0,1
32408,0,0,0,0,1
32409,0,0,0,0,1
32410,0,0,0,0,1
32411,0,0,0,0,1
32412,0,0,0,0,1
32413,0,0,0,0,1
32414,0,0,0,0,1

### 1. 데이터 불러오기

In [73]:
groupKey=["REGIONID","PRODUCTGROUP","PRODUCT","ITEM"]

In [74]:
groupData=selloutData.groupby(groupKey)["YEARWEEK"].agg(["size"]).reset_index()

In [75]:
groupData.rename(columns={"size":"KNOB"},inplace=True)

In [76]:
groupData.head()

  REGIONID PRODUCTGROUP PRODUCT     ITEM  KNOB
0      A01         PG01     P01  ITEM001     3
1      A01         PG01     P01  ITEM002     2
2      A01         PG01     P01  ITEM003     1
3      A01         PG01     P01  ITEM004     7
4      A01         PG01     P01  ITEM005     8

In [77]:
cleansedData=pd.merge(left = selloutData,right = groupData,on = groupKey,how="left")    ##기본키로 조인
cleansedData.head()

,REGIONID,PRODUCTGROUP,PRODUCT,ITEM,YEARWEEK,YEAR,WEEK,QTY,HOLIDAY,HCLUS,PROMOTION,PRO_PERCENT,LE_ITEM,LE_ITEM_ORG,KNOB
0,A01,PG01,P01,ITEM001,201538,2015,38,1,N,4,N,0.0,0,ITEM001,3
1,A01,PG01,P01,ITEM001,201548,2015,48,1,Y,0,N,0.0,0,ITEM001,3
2,A01,PG01,P01,ITEM001,201549,2015,49,2,Y,0,N,0.0,0,ITEM001,3
3,A01,PG01,P01,ITEM002,201526,2015,26,1,Y,1,N,0.0,1,ITEM002,2
4,A01,PG01,P01,ITEM002,201532,2015,32,1,N,4,N,0.0,1,ITEM002,2

In [78]:
MAXKNOB=cleansedData.KNOB.max()
MAXKNOB

146

In [79]:
cleansedData=cleansedData[cleansedData.KNOB >= MAXKNOB]
cleansedData.head()

,REGIONID,PRODUCTGROUP,PRODUCT,ITEM,YEARWEEK,YEAR,WEEK,QTY,HOLIDAY,HCLUS,PROMOTION,PRO_PERCENT,LE_ITEM,LE_ITEM_ORG,KNOB
2352,A01,PG02,P03,ITEM043,201501,2015,1,87,Y,1,Y,0.197590,42,ITEM043,146
2353,A01,PG02,P03,ITEM043,201502,2015,2,60,N,4,Y,0.197590,42,ITEM043,146
2354,A01,PG02,P03,ITEM043,201503,2015,3,51,N,4,N,0.000000,42,ITEM043,146
2355,A01,PG02,P03,ITEM043,201504,2015,4,37,Y,2,N,0.000000,42,ITEM043,146
2356,A01,PG02,P03,ITEM043,201505,2015,5,136,N,4,Y,0.201205,42,ITEM043,146

In [80]:
len(cleansedData.ITEM.unique())

52

In [81]:
### 그룹단위 머신러닝 시작

In [82]:
def dt_predict(onegroup):
#     groupsData = cleansedData.groupby(groupKey)

#     onegroup = groupsData.get_group(list(groupsData.groups)[0])

    eachgroup = onegroup.reset_index(drop=True)

    len(eachgroup)

    ### 1. 특성 선정 및 데이터 분리

    stdYearweek = 201701

    corrdf=eachgroup.corr()
    corrdf

    features = list(corrdf[(abs(corrdf.QTY)>0.0001) & (corrdf.QTY <=1)].index)
    features

    label = ["QTY"]

    trainingData_features = eachgroup[eachgroup.YEARWEEK < stdYearweek] [features]
    trainingData_label = eachgroup[eachgroup.YEARWEEK < stdYearweek] [label]
    testData_features = eachgroup[eachgroup.YEARWEEK >= stdYearweek] [features]
    testData_label = eachgroup[eachgroup.YEARWEEK >= stdYearweek] [label]
    testData_all = eachgroup[eachgroup.YEARWEEK >= stdYearweek]

    ### 2. 모델 선언

    from sklearn import tree

    model_method = tree.DecisionTreeRegressor(random_state=1)

    ### 3. 모델 훈련

    model=model_method.fit(trainingData_features,trainingData_label)

    ### 4. 예측

    model.predict(testData_features)

    testData_all["PREDICT"] = model.predict(testData_features)
    
    return testData_all